<!DOCTYPE html>
<html xml:lang="hr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>O nama</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="/images/logo.ico">

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://kit.fontawesome.com/34542901a1.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>


<!-- HEADER -->
<section class="nav-bar">
    <div class="container-fluid">
        <div class="nav-content">
            <div class="nav-left">
                <!-- LEFT SIDE -->
                <div class="logo">
                    <img th:src="@{/images/bored-game-text.png}" alt="bored game logo" height="50">
                </div>

                <!-- DESKTOP MENU -->
                <div class="nav-links">
                    <a th:href="@{/find}">
                        <button class="left_btns">Pronađi</button>
                    </a>
                    <a th:href="@{/organiziranje}">
                        <button class="left_btns">Organiziraj</button>
                    </a>
                </div>

                <!-- HAMBURGER -->
                <button class="hamburger-btn" onclick="toggleMenu()" type="button">
                    <i class="fa-solid fa-bars"></i>
                </button>

                <!-- MOBILE MENU -->
                <div class="nav-menu" id="navMenu">
                    <a th:href="@{/find}"><button class="left_btns">Pronađi</button></a>
                    <a th:href="@{/organiziranje}"><button class="left_btns">Organiziraj</button></a>
                </div>
            </div>


            <!-- SPACER -->
            <div class="flex-grow-1"></div>

            <!-- RIGHT SIDE -->
            <div class="nav-right">
                <div th:if="${loggedIn}">
                    <span class="nav-username" th:text="'Hej, ' + ${username}"></span>
                    <a th:href="@{/logout}">
                        <button class="login_btn">Log Out</button>
                    </a>
                </div>

                <div th:unless="${loggedIn}">
                    <a th:href="@{/login}">
                        <button class="login_btn">Log In</button>
                    </a>
                </div>

                <a th:href="@{/aboutus}">
                    <button class="info_btn"><i class="fa-regular fa-circle-question"></i></button>
                </a>
            </div>

        </div>
    </div>
</section>
<section class="form-wrapper">
    <section class="aboutus">
        <div class="aboutus-text">
            <h1>O nama!</h1>
            <p>
                Naša aplikacija nastala je iz ljubavi prema društvenim igrama i želje da ljude ponovno povežemo – uživo,
                uz smijeh, strategiju i dobru atmosferu. Vjerujemo da su najbolje uspomene one koje stvaramo zajedno,
                oko stola, uz igru koja nas spaja bez obzira na razlike.
                <br>
                <br>
                Ovdje možeš pronaći ekipu za opušteno druženje ili ozbiljniji izazov – bilo da si početnik ili iskusni
                igrač. Naša zajednica je otvorena, prijateljska i uvijek spremna za novu partiju. Cilj nam je stvoriti
                mjesto gdje se svi osjećaju dobrodošlo i gdje je zabava na prvom mjestu.
                <br>
                <br>
                Pridruži nam se i otkrij koliko jednostavno može biti upoznati nove ljude, isprobati nove igre i
                stvoriti nezaboravne trenutke. Jer na kraju dana, nije važno tko pobjeđuje – važno je s kim igraš.
            </p>
        </div>
        <div class="aboutus-info">
            <a href="#">
            <div>
                <i class="fa-regular fa-envelope"></i>
                <label>bored.game@sahmat.com</label>
            </div>
            </a>
            <a href="#">

            <div>
                <i class="fa-brands fa-instagram"></i>
                <label>boredgame.official</label>
            </div>
            </a>
            <a href="#">

            <div>
                <i class="fa-brands fa-tiktok"></i>
                <label>boredgame.official</label>
            </div>
            </a>
        </div>
    </section>
</section>


<script th:src="@{/js/app.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
