<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://kit.fontawesome.com/34542901a1.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>


<!-- HEADER -->
<section class="nav-bar">
    <div class="container-fluid">
        <div class="d-flex align-items-center">

            <!-- LEFT SIDE -->
            <div class="logo">
                <img th:src="@{/images/logo.png}" alt="bored game logo" height="50">
            </div>
            <div>
                <a th:href="@{/find}"><button class="left_btns">Find</button></a>
                <a th:href="@{/organiziranje}"><button class="left_btns">Organize</button></a>

            </div>

            <!-- SPACER -->
            <div class="flex-grow-1"></div>

            <!-- RIGHT SIDE: ulogiran -->
            <div th:if="${loggedIn}">
                <span class="nav-username" th:text="'Hej, ' + ${username}"></span>
                <a th:href="@{/logout}" ><button class="login_btn">Log Out</button></a>
            </div>
            <!-- RIGHT SIDE: nije ulogiran -->
            <div th:unless="${loggedIn}">
                <a th:href="@{/login}" ><button class="login_btn">Log In</button></a>
            </div>

            <button class="info_btn"><i class="fa-regular fa-circle-question"></i></button>
        </div>
    </div>
</section>

<section class="login">
    <h2>Log In:</h2>

    <p th:if="${param.error}" style="color: red;">Krivo korisničko ime ili lozinka.</p>

    <div class="login_form">
        <form action="/login" method="post">
            <input name="username" placeholder="Username" required><br>
            <input name="password" placeholder="Password" type="password" required><br>
            <button class="login_submit_btn" type="submit">Prijavi se</button>
        </form>
    </div>

    <p style="margin-top: 12px;">Nemaš račun? <a th:href="@{/register}">Registriraj se</a></p>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>